astroid
chevron
docstring-parser
jupyter
jupyterthemes
numpy
openpyxl
pandas
pytz
requests

finbourne-access-sdk >= 0.0.2272, <= 1.0
finbourne-identity-sdk >= 0.0.1845, <= 1.0
luminesce-sdk-preview >= 1.11.140, <= 2.0
lusid-jam
lusid-sdk-preview >= 0.11.4713, <= 1.0
lusidtools >= 1.0.0
