aenum==3.1.15
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
coloredlogs==15.0.1
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
detect-delimiter==0.1.1
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
finbourne-sdk-utilities==0.0.10
flatten-json==0.1.14
frozenlist==1.4.1
humanfriendly==10.0
idna==3.7
ipykernel==6.29.4
ipython==8.24.0
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
lusid-jam==0.1.2
lusid-notifications-sdk==2.1.35
lusid-sdk==2.1.142
lusid-sdk-preview==1.1.162
lusidtools==1.0.14
matplotlib-inline==0.1.7
multidict==6.0.5
nest-asyncio==1.6.0
numpy==1.26.4
openpyxl==3.1.3
packaging==24.0
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.2
prompt_toolkit==3.0.45
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.7.2
pydantic_core==2.18.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
requests==2.32.3
six==1.16.0
stack-data==0.6.3
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.12.0
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.2.13
xlrd==1.2.0
yarl==1.9.4
