# This job generates the documentation under examples/

name: Documentation generation

# Trigger the workflow manually

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Run doc gen on MASTER branch
        if: ${{ github.base_ref == 'master' }}
        run: |
          echo "generate documentation"
          python docgen/parser.py
          git add .
          git commit -m "Update examples documentation"
          git push origin master
